body {
    background: #1F2937;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 90px 0;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

h2 {
    font-size: 36px;

}
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.section-one {
    padding: 90px;
    margin: 0;
    display: flex;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
}

.section-one-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-grow: 2;

}
.section-two {
    padding: 90px;
    margin: 0;
    background-color: white;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.image-placeholder {
    display: flex;
    background: grey;
    height: 200px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border-style: none;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.section-three {
    padding: 90px;
    margin: 0;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
}

.section-four {
    padding: 90px;
    margin: 0;
    background-color: white;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.sign-up-box {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 3px solid #3882F6;
}

footer {
    text-align: center;
    padding: 50px;
}

.box-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    gap: 5px;
}

.sign-up-box-left {
    display: flex;
}

.sign-up-box-right {
    display: flex;
}