body {
    background: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: #E5E7EB;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}