body {
    background: #1F2937;
    color: #F9FAF8;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 90px 0;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

h2 {
    margin: 0;
    padding: 10px;
    font-size: 36px;
    
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.section-one {
    padding: 90px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    max-width: 500px;
    gap: 10px;
}

.section-one-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-grow: 2;

}
.section-two {
    padding: 90px;
    background-color: white;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.image-placeholder {
    display: flex;
    background: grey;
    height: 200px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border-style: none;
    height: 40px;
    width: 100px;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.section-three {
    padding: 90px;
    margin: 0;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.section-four {
    padding: 90px;
    margin: 0;
    background-color: white;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.sign-up-box {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    height: 70px;
    width: 1000px;
}

.box {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 3px solid #3882F6;
}


.box-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
    gap: 5px;
}

.sign-up-box-left {
    display: flex;
    flex-direction: column;
}

.sign-up-box-right {
    display: flex;
    align-items: center;
}

.call-of-action-button {
    border: 3px solid white;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    color: white;
}

h4 {
    margin: 0;
    padding: 0 10px 0;
}

blockquote {
    display: flex;
    font-style: italic;
    font-size: 30px;
    font-weight: 100;
    color: #1F2937;
}

figcaption {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-weight: 700;
}

p {
    padding: 5px 10px 0;
    margin: 0;
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 30px;
}

a:link, a:visited {
    color: #F9FAF8;
}